.cont {
  background-color: rgb(15, 15, 109);
  text-align: center;
  color: rgb(140, 140, 180);
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  width: 100%;
}
label {
  width: 30%;
  padding: 10px;
  font-size: x-large;
  font-weight: 500;
}
input {
  background-color: rgb(140, 140, 180);
  padding: 10px;
  width: 40%;
}
