.infor {
  color: rgb(140, 140, 180);
  background-color: rgb(15, 15, 109);
  font-size: large;
  text-align: center;
  height: auto;
  width: 30%;
  position: absolute;
  left: 35%;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 50%;
}
