.options {
  border-radius: 10px;
  background-color: rgb(15, 15, 109);
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  padding-top: 20px;
  height: 50px;
}
/* .options > button {
  background-color: rgb(140, 140, 180);
  color: rgb(15, 15, 109);
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: 900;
} */
.options > p {
  background-color: rgb(15, 15, 109);
  color: rgb(140, 140, 180);
  padding-bottom: 10px;
}
