/* .card {
  display: inline;
  text-align: center;
  color: rgb(15, 15, 109);
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

* {
  box-sizing: border-box;
}
.card {
  position: relative;
  top: 10%;
  left: 5%;
  width: 40%;
  padding-left: 200px;
  padding-top: 50px;
  display: inline-block;
}
.column {
  position: absolute;
  top: 80%;
  left: 40%;
  width: 45%;
  height: 24%;
  text-align: center;
  color: rgb(140, 140, 180);
  background-color: rgb(15, 15, 109);
  padding-bottom: 20px;
  border-radius: 50px;
}
img {
  border-radius: 50%;
  height: 500px;
  width: 600px;
}
