.header {
  border-radius: 20px;
  background-color: rgb(15, 15, 109);
  text-align: center;
  color: rgb(140, 140, 180);
  font-size: xx-large;
  padding-bottom: 1rem;
}
.options {
  border-radius: 20px;
  background-color: rgb(15, 15, 109);
  text-align: center;
  color: aqua;
  margin-bottom: 100px;
}
button {
  background-color: rgb(140, 140, 180);
  color: rgb(15, 15, 109);
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.info {
  color: rgb(15, 15, 109);
  font-size: x-large;
  text-align: center;
  height: 340px;
  padding-top: 50px;
}
