.header {
  margin-top: -20px;
  border-radius: 10px;
  background-color: rgb(15, 15, 109);
  text-align: center;
  color: rgb(140, 140, 180);
  font-size: xx-large;
  padding-bottom: 1rem;
}
.options {
  border-radius: 10px;
  background-color: rgb(15, 15, 109);
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 10px;
}
button {
  background-color: rgb(140, 140, 180);
  color: rgb(15, 15, 109);
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.info {
  color: rgb(15, 15, 109);
  font-size: large;
  text-align: center;
  height: 200px;
  /* padding-top: 20px; */
}
h1 {
  margin: 0.4em;
  margin-bottom: 0.2em;
}
p {
  margin: 0.1em;
  font-weight: bold;
}
Enter,
p {
  color: rgb(140, 140, 180);
}
.house02 {
  text-align: center;
  color: rgb(15, 15, 109);
}
.house03 {
  text-align: center;
  color: rgb(15, 15, 109);
}
